@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./styles/toggle.css');

:root {
    --bg-color: #7077A1;
    --bg-color-textarea: #BFCFE7;
    --text-color: #E5D283;
    --text-color-textarea: #424769;
    --font: "Poppins", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    gap: 20px;
    text-align: center;
    scroll-behavior: auto;
}

h1 {
    font-size: 5em;
}

.transcritor {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transcritor__idioma {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

#idiomas {
    border-radius: 16px;
    min-width: 10rem;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.button {
    width: fit-content;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    padding: 8px 16px;
    font-size: 1.5em;
    border-radius: 8px;
    cursor: pointer;
}

.caixa-texto {
    border: 1px solid var(--text-color);
    background-color: var(--bg-color-textarea);
    color: var(--text-color-textarea);
    border-radius: 16px;
    padding: 1rem;
    overflow-y: scroll;
    scroll-behavior: auto;
    max-height: 50vh;
    line-height: 1.5rem;
    text-align: justify;
}

.caixa-texto-com-traducao {
    max-height: 40vh;
}

/* .texto-transcrito::-webkit-scrollbar {
    background-color: transparent
} */

/* width */
.caixa-texto::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
.caixa-texto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    margin: 10px;
  }

  /* Handle */
.caixa-texto::-webkit-scrollbar-thumb {
    background: #152236;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.traducao-buttons {
    display: flex;
    justify-content: space-between;
}

.toggle-traducao {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.traduzir {
    flex-grow: 1;
    width: fit-content;
}

.rodape {
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.link {
    text-decoration: none;
    color: var(--text-color);
}